#logo {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;

}
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
#services{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
}
   
.col-md-3 img{
    max-width: 100%;
}
.hide{
    display: none;
}
.portfolio{
margin: 5%;
}
.design,.development,.product{
    display: none;
}
.form{
    background-image: url("../assets/backgrounds/c_image.jpg");
}
input.form-control, textarea.form-control{
    background-color: transparent;
    border: 2px white solid;
    color: white;
}

input.form-control:focus{
    background-color: transparent;
}
textarea.form-control:focus{
    background-color: transparent;
}
input.form-control::placeholder{
color: white;
}
.white::placeholder{
    color: white;
}
.white{
    color: white;
}
footer a{
    margin-right: 2vw;
    font-size: 2vw;
}